{% extends 'base.html'%}



{% block title  %}
{{product.name}}
{% endblock %}
{% block content %}
{% for image in images %}
<img src="{{image.image.url}}" alt="" width="500px">
{% endfor %}
<p>{{product.name}}</p>
<p>{{product.price_inclusive}}</p>

<button onclick="window.location='{% url 'update_product' product.id %}';"
style="background-color: blue;">Update product</button>
<button onclick="window.location='{% url 'delete_product' product.id %}';"
style="background-color: blue;"> Delete product</button>



{% endblock %}




